from tkinter import *

root = Tk()
root.resizable(0, 0)
root.configure(bg='black')

# title
root.title("Click Counter")
# size
root.geometry("500x300")


# commands for buttons
def clicks_clear():
    global clicks
    clicks -= clicks
    number_of_clicks['text'] = str(clicks)


clicks = 0


def click_add():
    global clicks
    clicks += 1
    number_of_clicks['text'] = str(clicks)


def click_subtract():
    global clicks
    clicks -= 1
    number_of_clicks['text'] = str(clicks)


# buttons
clear_button = Button(root, text="x", padx=23, pady=30, bg="white", fg="black", command=clicks_clear)
clear_button.configure(font=('Calibri', 16, 'bold'))
clear_button.place(x=416, y=17)
add_clicks = Button(root, text="+", padx=224, pady=15, bg='white', fg="black", command=click_add)
add_clicks.configure(font=('Calibri', 16, 'bold'))
add_clicks.place(x=15, y=130)
subtract_clicks = Button(root, text="–", padx=224, pady=15, bg='white', fg="black", command=click_subtract)
subtract_clicks.configure(font=('Calibri', 16, 'bold'))
subtract_clicks.place(x=15, y=214)

# textbox
number_clicks = Label(root, text=' ', padx=190, pady=36, bg='white', fg='black')
number_clicks.configure(font=('Calibri', 16, 'bold'))
number_clicks.place(x=15, y=17)

# number of clicks
number_of_clicks = Label(root, text=clicks, bg='white', fg='black')
number_of_clicks.configure(font=('Calibri', 16, 'bold'))
number_of_clicks.place(x=209, y=55)


root.mainloop()
